@model Essensys.Repository.DTO.EsUser
@{
    ViewBag.Title = "Mot de passe oublié";
    Layout = "~/Views/Shared/BlankLayout.cshtml";
}

@section headerattribute{
    class="lostpassword"
}
@section sectionattribute{
    class="lostpassword"
}

@section head{
    <style>
    .field-validation-error
    {
        margin-left:0px;
    }
    </style>
}

<div class='es-login'>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <fieldset>
        <legend>Votre adresse email</legend>
        <p>Entrez votre adresse email renseignée lors de votre inscription. Un email contenant un nouveau mot de passe vous sera envoyé à cette adresse.</p>
        <ol>
            <li>
                @Html.LabelFor(m => m.Mail2, "Adresse email")
                @Html.TextBoxFor(m => m.Mail2, new { style = "width:360px" })
                @Html.ValidationMessageFor(m => m.Mail2)
            </li>
        </ol>
    </fieldset>
        
    <input type="submit" value="Envoyer" class="bluebutton" />
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
